.navbarSidebarSearch {
  flex: 1;
  margin: 0 1rem;
}

.navbarSidebarSearch :global(.navbar-search-container) {
  width: 100%;
}

.navbarSidebarSearch :global(.navbar-search-container input) {
  width: 100%;
  padding: 0.5rem;
  background: var(--ifm-color-emphasis-100);
  border: 1px solid var(--ifm-color-emphasis-200);
  border-radius: 4px;
} 