.homeSection {
  width:100%;
  max-width: 1200px;
  margin: 1em auto;
  padding: 0 15px;
  text-align: center;

}
  
.homeSection > h2 {
  font-size: 2em;
  line-height: 1em;
  margin: 8px 8px 8px 32px;
  padding: 10px 0;
  text-align: left;
}

.homeSection p {
  margin: 0 auto;
  
  padding: 0.8em 0;
  text-align: left;
}

.homeSection .cards {
  align-items: left;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  justify-content: left;
  padding: 0 20px;
}
